%div.teacher-announce
  %a.announce-heading-link{:href=>"http://teacherblog.code.org/"}
    %div.announce-heading
      = I18n.t(:dashboard_announcements)
      %div.heading-view-all
        = I18n.t(:dashboard_announce_view_all)
        >>
  %div.announce-content
    %div.content-video
      = view :display_video_thumbnail, id: "cspoverview", video_code: "HoKRZRI9IDk", play_button: 'center', download_path: "//videos.code.org/cs-principles/overview-HD.mp4"
    %div.content-text-with-video
      = I18n.t(:dashboard_announce_message)
  %div.announce-learn-more
    %a{:href=>CDO.code_org_url('/educate/professional-learning/cs-principles')}
      %button= I18n.t(:dashboard_announce_button_text)
